body {
  
  min-height: 100vh;
  background: url('Img/02_menelegantfashion_sp_preview.avif') center center / cover no-repeat;
  position: relative;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  padding: 40px;
}

/* Blurred overlay */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(8px); /* Adjust the blur value as desired */
  z-index: -1;
}
h1{
  color: #ff0953ff;
  font-size:30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 50px;
  margin-top: 150px;
}
form {
  max-width: 400px;
height: 200px;
margin: 20px auto;
background: #92919435;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  
}
input{
  font-size: 18px;
    font-weight: 500;
    width: 70%;
    height:30px;
    background-color: #3333332e;
    padding-top: 0px;
    padding-right:15px;
    padding-left: 10px;
    margin-bottom: 25px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
label {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

button {
  width: 50%;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: #f12c40;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #47494797;
}

#togglePassword{

  margin-left: -20px;
}

.alt-button{
  margin-top: 20px;
  background-color:#f12c40;
  width: 150px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 586ee9b9458c9d98144241f09ab2ec67c6d7aa60
